<nav class="nav-pagination">
    <ul class="pagination">
        <li class="page-item" [class.disabled]='currentPage == 1' >
            <a class="page-link" (click)="onFirstPage()"><span aria-hidden="true">&laquo;</span></a>
        </li>
        <li class="page-item" [class.disabled]='currentPage == 1' >
            <a class="page-link" (click)="onPreviousPage()">Anterior</a>
        </li>
        <li class="page-item"><a class="page-link input-link"><input class="pagination-input"
                    (input)="onSetPage($event)" [value]="currentPage" (blur)="verificaInput($event.target)"> / <span>{{allPagesNumber}}</span></a></li>

        <li class="page-item" [class.disabled]='currentPage == allPagesNumber || allPagesNumber == 0'>
            <a class="page-link" (click)="onNextPage()">Próximo</a>
        </li>
        <li class="page-item" [class.disabled]='currentPage == allPagesNumber || allPagesNumber == 0' >
            <a class="page-link" (click)="onLastPage()"> <span aria-hidden="true">&raquo;</span></a>
        </li>
      
    </ul>
    <ul class='pagination select-pagination'>
        <span style="margin-right: 1rem; color: #6c757d;">Itens por página: </span>
        <li class='page-item select-pages'>
            <select class="form-select" [(ngModel)]="SelectItemsPage" (change)="itemPerPage()">
                <option value="7">7</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>
        </li>
    </ul>
</nav>